<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        SHIORI一覧
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @posts.each do |post| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by2">
                <%= link_to post_path(post) do %>
                  <%= attachment_image_tag post, :image, fallback: "no-image.png" %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <%= attachment_image_tag post.user, :profile_image, fallback: "no-image.png", class: "profile_image" %>
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <p class="title is-4"><%= post.category %>／<%= post.title %></p>
                      <p class="title is-4">進捗 <%= post.progress %>％</p>
                    </div>
                  </div>
                  <tr>
                    <th></th>
                  </tr>
                  <div class="media-content">
                    <div class="title"><%=link_to post.user.username, user_path(post.user) %></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
